{{define "index/cfangan.html" }}
 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广播系统生成excel系统</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
    <script src="/static/js/bootstrap.bundle.js" ></script>
   </head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>新建方案</h2> 
                <p style="padding-top: 10px;">今天是：{{.tt}}</p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>
    <!--  导航-->
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="/">首页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compute">计算JobData</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cfangan">方案表</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/alltask">铃声任务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/groups">铃声区域--组</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="#">铃声区域--终端</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">歌曲路径</a>
            </li>
          </ul>
    </div>
    <!--导航结束 -->
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
            建立方案
          </div>
          {{if .msg}}
          <div class="alert alert-danger" role="alert">
            {{.msg}}
          </div>
          {{end}}
        </div>

      </div>
    </div>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col-6">
            <form method="post" action="/cfangan/sub">
                <div class="form-group">
                  <label for=" ">方案名</label>
                  <input type="text" class="form-control" id="fangan" name="faname" aria-describedby="emailHelp">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for=" ">描述</label>
                    <input type="text" class="form-control" id=" "  name= "discreption">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                  <label for=" ">从以下方案拷贝</label>
                  <select name="cff">
                    <option value="0">不从任何方案拷贝</option>
                    {{range .fangan}}
                    <option value="{{.Id}}">{{.Listname}}</option>
                    {{end}}
                  </select>
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
                <div class="form-group">
                  <label for=" ">是否为父方案（该方案是否可以被复制）</label>
                  <br>
                  <input type="radio"   id=" " value="1"  name= "fatherfa">是
                  <input type="radio"  id=" "  value="0" name= "fatherfa" checked>否
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                
                <!-- <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">提交</button>
              </form>
        </div>
        <div class="col">

        </div>
        
      </div>
    </div>
</body>
</html>

 



{{end}}