{{define "index/crs.html"}}


{{template "common/header.html"}}
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>新建铃声任务</h2> 
                <p style="padding-top: 10px;">今天是： </p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>
  <!--  导航-->
  {{template "common/navbar.html"}}
<!--导航结束 -->
<div class="container">
    <div class="row">
        <div class="col"> 计算结果</div>
        <div class="col">{{.jj}}</div>
        <div class="col-6"></div>
    </div>

</div>  
</body>
</html>


{{end}}