{{ define "index/errormsg.html"}}

{{template "common/header.html"}}
   
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>信息反馈页</h2> 
                <p style="padding-top: 10px;">今天是：{{.tt}}</p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>
    <!--  导航-->
    {{template "common/navbar.html"}}
    <!--导航结束 -->
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <div class="alert alert-warning" role="alert">
            添加不成功，{{.errormsg}}
          </div>
         
        </div>

      </div>
    </div>
    {{template "common/footbar.html"}}
</body>
</html>

{{end}}