{{define "index/modpage.html" }}
 

{{template "common/header.html"}}
   
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>新建方案</h2> 
                <p style="padding-top: 10px;">今天是：{{.tt}}</p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>
    <!--  导航-->
    {{template "common/navbar.html"}}
    <!--导航结束 -->
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
            修改方案
          </div>
          {{if .msg}}
          <div class="alert alert-danger" role="alert">
            {{.msg}}
          </div>
          {{end}}
        </div>

      </div>
    </div>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col-6">
            <form method="post" action="/cfangan/submod">
                <div class="form-group">
                  <input type="hidden" name="id" value="{{.onefa.Id}}" >
                  <input type="hidden" name="ctime" value="{{.onefa.Createtime}}" >
                  <label for=" ">方案名</label>
                  <input type="text" class="form-control" id="fangan" name="faname" value="{{.onefa.Listname}}" aria-describedby="emailHelp">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for=" ">描述</label>
                    <input type="text" class="form-control" id=" " value="{{.onefa.Discreption}}" name= "discreption">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                  <div class="form-group">
                    <label for=" ">是否为父表（该方案是否可以被复制）</label>
                    <br>
                    <input type="radio"   id=" " value="1"  name= "fatherfa" {{if eq .onefa.Fatherfa  1 }} checked{{end}} >是
                    <input type="radio"  id=" "  value="0" name= "fatherfa"  {{if eq .onefa.Fatherfa 0 }} checked{{end}}  >否
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                <!-- <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">提交</button>
              </form>
        </div>
        <div class="col">

        </div>
        
      </div>
    </div>
    {{template "common/footbar.html"}}
</body>
</html>

 



{{end}}