{{ define "alltask/index.html"}}
{{template "common/header.html"}}
   
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>各式铃声模板列表</h2> 
                <p style="padding-top: 10px;">今天是：{{.tt}}</p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>
    <!--  导航-->
    {{template "common/navbar.html"}}
    <!--导航结束 -->


    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <a href="/alltask/newtask"><h5>增加铃声模板</h5></a>
        </div>
        <div class="col-6"></div>
        <div class="col"><button onclick="window.location.href='/alltask/reftime'" >刷新持续时间</button></div>

      </div>

    </div>

    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col-12">
            <table class="table table-striped">
          <thead class="thead-dark">
            <tr><th colspan="7">日常铃声任务 1</th></tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">JobType</th>
              <th scope="col">JobMask</th>
              <!-- <th scope="col">Duration</th> -->
               
              <!-- <th scope="col">StopTime</th> -->
              <!-- <th scope="col">JobData</th>
              <th scope="col">RepeatNum</th> -->
              <!-- <th scope="col">PlayMode</th>
              <th scope="col">PlayVol</th> -->
              <th scope="col">Medias</th>
              <th scope="col">持续时间</th>
              <!-- <th scope="col">AreaMasks</th> -->
              
              <!-- <th scope="col">PowerAheadPlay</th> -->
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            {{range .alllings}}
            <tr>
              <td scope="col">#</td>
              <td scope="col">{{.Taskname}}</td>
              <td scope="col">{{.Jobtype}}</td>
              <td scope="col">{{.Jobmask}}</td>
              
              <td scope="col">{{.Medias}}</td>
              <td scope="col">{{displayt .Cxtime}}</td>
              
              
              
              <td scope="col"><a href="/alltask/modtask/{{.Id}}">修改</a>  <a href="/alltask/deltask/{{.Id}}">删除</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">

            <table class="table table-striped">
          <thead class="thead-dark">
            <tr><th colspan="7">特殊铃声任务 0</th></tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">JobType</th>
              <th scope="col">JobMask</th>
              <!-- <th scope="col">Duration</th> -->
               
              <!-- <th scope="col">StopTime</th> -->
              <!-- <th scope="col">JobData</th>
              <th scope="col">RepeatNum</th> -->
              <!-- <th scope="col">PlayMode</th>
              <th scope="col">PlayVol</th> -->
              <th scope="col">Medias</th>
              <th scope="col">持续时间(s)</th>
              <!-- <th scope="col">AreaMasks</th> -->
              
              <!-- <th scope="col">PowerAheadPlay</th> -->
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            {{range .spe}}
            <tr>
              <td scope="col">#</td>
              <td scope="col">{{.Taskname}}</td>
              <td scope="col">{{.Jobtype}}</td>
              <td scope="col">{{.Jobmask}}</td>
              
              <td scope="col">{{.Medias}}</td>
              <td scope="col">{{displayt .Cxtime}}</td>
              
              
              
              <td scope="col"><a href="/alltask/modtask/{{.Id}}">修改</a>  <a href="/alltask/deltask/{{.Id}}">删除</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">

            <table class="table table-striped">
          <thead class="thead-dark">
            <tr><th colspan="7">考试铃声任务 2</th></tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">JobType</th>
              <th scope="col">JobMask</th>
              <!-- <th scope="col">Duration</th> -->
               
              <!-- <th scope="col">StopTime</th> -->
              <!-- <th scope="col">JobData</th>
              <th scope="col">RepeatNum</th> -->
              <!-- <th scope="col">PlayMode</th>
              <th scope="col">PlayVol</th> -->
              <th scope="col">Medias</th>
              <th scope="col">持续时间</th>
              <!-- <th scope="col">AreaMasks</th> -->
              
              <!-- <th scope="col">PowerAheadPlay</th> -->
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            {{range .kaoshi}}
            <tr>
              <td scope="col">#</td>
              <td scope="col">{{.Taskname}}</td>
              <td scope="col">{{.Jobtype}}</td>
              <td scope="col">{{.Jobmask}}</td>
              
              <td scope="col">{{.Medias}}</td>
              <td scope="col">{{ displayt .Cxtime}}</td>
              
              
              
              <td scope="col"><a href="/alltask/modtask/{{.Id}}">修改</a>  <a href="/alltask/deltask/{{.Id}}">删除</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
        </div>
        
      </div>
    </div>
    {{template "common/footbar.html"}}
</body>
</html>

{{end}}