{{define "groups/index.html" }}
 
{{template "common/header.html"}}
   
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>分组设置（根据铃声系统来设定）</h2> 
                <p style="padding-top: 10px;">今天是：{{.tt}}</p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>
    <!--  导航-->
    {{template "common/navbar.html"}}
    <!--导航结束 -->
    <div class="container" style="padding-top: 20px;">
        <div class="row">
          <div class="col">
            <div class="alert alert-info" role="alert">
              铃声组的列表
            </div>
          </div>
  
        </div>
      </div>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">铃声分组名</th>
                    <th scope="col">分组的值</th>
                     
                    
                    <th scope="col">操作</th>
                  </tr>
                </thead>
                <tbody>
                  {{range .groups}}
                  <tr>
                    <td scope="col">#</td>
                    <td scope="col">{{.Id}}</td>
                    <td scope="col">{{.Groupname}}</td>
                    <td scope="col">{{.Val}}</td>
                     
                    
                    <td scope="col"><a href=" /groups/mod/{{.Id}}">修改</a>  <a href="/groups/del/{{.Id}}">删除</a>
                     
                  </tr>
                  {{end}}
                </tbody>
              </table>
        </div>
        <div class="col">

        </div>
        
      </div>
    </div>
</body>
</html>

 



{{end}}