{{define "common/navbar.html"}}
<div class="container">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/compute">计算JobData</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cfangan">新建方案/复制方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alltask">铃声模板</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/groups">铃声区域--组</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/tasklist/cfmat">日期格式修改</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">歌曲路径</a>
        </li>
      </ul>
</div>

{{end}}