{{define "common/navbar.html"}}
<div class="container">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/compute">计算JobData</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cfangan">方案表</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alltask">铃声任务</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/groups">铃声区域--组</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#">铃声区域--终端</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">歌曲路径</a>
        </li>
      </ul>
</div>

{{end}}