{{ define "tasklist/createpage.html"}}

{{template "common/header.html"}}
   
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>创建生成任务铃声列表</h2> 
                <p style="padding-top: 10px;">今天是：{{.tt}}</p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>

    <!--  导航-->
    
    {{template "common/navbar.html"}}
    <!--导航结束 -->
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
            创建新的铃声任务
          </div>
          {{if .msg}}
          <div class="alert alert-danger" role="alert">
            {{.msg}}
          </div>
          {{end}}
        </div>

      </div>
    </div>
    <div class="container" style="padding-top: 20px;">
        <div class="row">
          <div class="col">
            <a href="/tasklist/{{.id}}"><h5>返回生成的铃声任务列表</h5></a>
          </div>
          <div class="col-6"></div><div class="col"></div>
        </div>
  
      </div>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
            <form action="/tasklist/subcreate" method="post">
                <input type="hidden" name="fanganid" value="{{.id}}" >
                <div class="form-group">
                  <label for=" ">铃声任务名 </label>
                  <input type="text" class="form-control" id="fangan" name="listname" value="" required aria-describedby="emailHelp">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                  <label for=" ">铃声类别(alltask)</label><br>
                  <select class="form-select" name="leibie" id="lb" onchange="calllings()">
                    <option value="" selected > 请选择铃声类别</option>                     
                    <option value="1">日常铃声</option>
                    <option value="0">特殊铃声</option>
                    <option value="2">考试铃声</option>
                    
                  </select>
                  <br>
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                  <label for=" ">铃声模板(alltask)</label>
                  <div id="list">
                    <select name="lingstemp" >
                      <option value="">请选择铃声模板</option>

                    </select>
                  </div>                 
                
                  <br>
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for=" ">铃声启动时间(09:09:09)</label>
                    <input type="text" class="form-control" id="fangan" name="starttime" required value="" placeholder="00:00:00" aria-describedby="emailHelp">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                  <label for=" ">JobData</label><br>
                  <input type="text" class="form-control"  value="65663" name="jobdata" >
                  <!-- <input type="checkbox" value="1" name="jd" id="cc" >1&nbsp;&nbsp;
                  <input type="checkbox" value="2" name="jd" >2&nbsp;&nbsp;
                  <input type="checkbox" value="3" name="jd">3&nbsp;&nbsp;
                  <input type="checkbox" value="4" name="jd">4&nbsp;&nbsp;
                  <input type="checkbox" value="5" name="jd">5&nbsp;&nbsp;
                  <input type="checkbox" value="6" name="jd">6&nbsp;&nbsp;
                  <input type="checkbox" value="7" name="jd">7&nbsp;&nbsp;
                  <input type="checkbox" value="8" name="jdall" onchange="checkall()">全选 -->
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                  <label for=" ">RepeatNum</label>
                  <input type="text" class="form-control" id="fangan" name="repeatnum" required value="1"  >
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                  <label for=" ">playMode(是否冻结)</label>
                  <input type="text" class="form-control" id="fangan" name="playmode" required value="0"   >
                 
                </div>
                <div class="form-group">
                  <label for=" ">Groups(播放区域)</label><br>
                  
                    {{range .groups}}                    
                    <input type="checkbox" name="gsp[]" value="{{.Val}}" >
                    <font style="font-size: 3;color: rgb(77, 101, 196);">{{.Groupname}}</font>
                    <br>                    
                    {{end}}                  
                </div>
                
                <!-- <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <div class="form-group" style="text-align: center;">
                    <button type="submit"   class="btn btn-primary">提交</button> 
                </div>                
              </form>
        </div>
        <div class="col-1" ></div> <div class="col"></div>
        
      </div>
    </div>
    <script >
      function calllings() {
        var selv=document.getElementById("lb").value;
        console.log(selv)
        $.ajax({
          url:"/tasklist/clb/"+selv,
          type:"GET",
          success:function(res){
            // console.log(res);
            var rsstr="<select class=\"form-select\" name=\"lingstemp\">"
            rsstr=rsstr+"<option value=\"\" selected> 请选择铃声模板</option>"
            data=JSON.parse(res);
            
            var i=0
            for( i=0;i<data.length;i++){
              console.log(data[i]);
              rsstr=rsstr+"<option value=\""+data[i].Id+"\">"+data[i].Taskname + "</option>";
            }
            rsstr=rsstr+"</select>";
            console.log(rsstr);
            var listtemp=document.getElementById("list");
            listtemp.innerHTML=rsstr;            
          }

        })
      }
      function checkall(){
        let checkarr=$('input[name="jd"]')
        
        for(let i=0;i<checkarr.length;i++){
          
          checkarr[i].checked;
          
        }
      }
    </script>
</body>
</html>

{{end}}