{{ define "tasklist/index.html"}}

{{template "common/header.html"}}
   
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>生成的铃声任务列表</h2> 
                <p style="padding-top: 10px;">今天是：{{.tt}}</p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>
    <!--  导航-->
    {{template "common/navbar.html"}}
    
    <!--导航结束 -->
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
            最终生成的铃声列表
          </div>
          {{if .msg}}
          <div class="alert alert-danger" role="alert">
            {{.msg}}
          </div>
          {{end}}
        </div>

      </div>
    </div>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <a href="/tasklist/create/{{.ww}}"><h5>增加铃声任务</h5></a>
        </div>
        <div class="col-6"></div><div class="col"></div>
      </div>

    </div>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col-12">
            <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">JobType</th>
              <!-- <th scope="col">JobMask</th>
              <th scope="col">Duration</th> -->
              <th scope="col">StartTime</th>
              <!-- <th scope="col">StopTime</th> -->
              <th scope="col">JobData</th>
              <th scope="col">RepeatNum</th>
              <!-- <th scope="col">PlayMode</th>
              <th scope="col">PlayVol</th> -->
              <!-- <th scope="col">Medias</th> -->
              <th scope="col">Terms</th>
              <!-- <th scope="col">AreaMasks</th> -->
              <th scope="col">Groups</th>
              <!-- <th scope="col">PowerAheadPlay</th> -->
              <th scope="col">修改</th>
            </tr>
          </thead>
          <tbody>
            
            {{range .tasklist}}
            <tr>
              <td scope="col">#</td>
              <td scope="col">{{.Name}}</td>
              <td scope="col">{{.Jobtype}}</td>
              
              <td scope="col">{{.Starttime}}</td>
              
              <td scope="col">{{.Jobdata}}</td>
              <td scope="col">{{.Repeatnum}}</td>
              
              <td scope="col">{{.Terms}}</td>
              
              <td scope="col">{{.Groups}}</td>
             
              <td scope="col"><a href="/tasklist/modpage/{{$.ww}}/{{.Id}}">修改</a> <a href="/tasklist/del/{{$.ww}}/{{.Id}}"> 删除</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
        </div>
        
      </div>
    </div>
    {{template "common/footbar.html"}}
</body>
</html>

{{end}}