{{ define "tasklist/index.html"}}

{{template "common/header.html"}}
   
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 15px;">
                <h2>生成的铃声任务列表</h2> 
                <p style="padding-top: 10px;">今天是：{{.tt}}</p>
            </div>
            <div class="col-5"></div>
            <div class="col"></div>

        </div>
    </div>
    <!--  导航-->
    {{template "common/navbar.html"}}
    
    <!--导航结束 -->
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
            最终生成的铃声列表, 方案名：{{.fanganname}}
          </div>
          {{if .msg}}
          <div class="alert alert-danger" role="alert">
            {{.msg}}
          </div>
          {{end}}
        </div>

      </div>
    </div>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col">
          <a href="/tasklist/create/{{.ww}}"><h5>增加铃声任务</h5></a>
        </div>
        <div class="col-2"></div>
        <div class="col">导入方案数据</div>
        <div class="col"><form action="/tasklist/import" enctype="multipart/form-data" method="post">
          <input type="hidden" name="faid" value="{{.ww}}" >
          <input type="file" name="upfile" value="upload" >
        </form></div>
        <div class="col"> <a href="/tasklist/export/{{.ww}}">导出到excel</a>  </div>
      </div>

    </div>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col-12">
            <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col-1">选择</th>
              
              <th scope="col-1">Name</th>
              <!-- <th scope="col">JobType</th> -->
              <!-- <th scope="col">JobMask</th>
              <th scope="col">Duration</th> -->
              <th scope="col-1">StartTime</th>
              <th scope="col-1">Stoptime</th>
              <!-- <th scope="col">StopTime</th> -->
              
              <!-- <th scope="col">RepeatNum</th> -->
              <!-- <th scope="col">PlayMode</th>
              <th scope="col">PlayVol</th> -->
              <th scope="col-2">Medias</th>
              
              <!-- <th scope="col">AreaMasks</th> -->
              <th scope="col-3">播放区域(groups)</th>
              <!-- <th scope="col">PowerAheadPlay</th> -->
              <th scope="col-3">操作</th>
            </tr>
          </thead>
          <tbody>
            
            {{range .tasklist}}
            <tr>
              <td style="vertical-align: middle;"><input type="checkbox" name="seltask[]" value="{{.Id}}"></td>
              
              <td style="vertical-align: middle;">{{.Name}}</td>
              
              
              <td style="vertical-align: middle;">{{.Starttime}}</td>
              <td style="vertical-align: middle;">{{.Jiezhi}}</td>
              
              
              
              <td style="vertical-align: middle;"> {{.Medias  }}</td>
             
              
              <td style="vertical-align: middle;">{{.Groups}}</td>
             
              <td style="vertical-align: middle;">
                <button class="btn btn-outline-primary" onclick="window.location.href='/tasklist/copy/{{$.ww}}/{{.Id}}'">复制</button><br>
                <button class="btn btn-outline-primary"  onclick="window.location.href='/tasklist/modpage/{{$.ww}}/{{.Id}}'">修改</button>               <br>
                <button class="btn btn-outline-primary"  onclick="window.location.href='/tasklist/del/{{$.ww}}/{{.Id}}'">删除</button>
                 
            </tr>
            {{end}}
          </tbody>
        </table>
        </div>
        
      </div>
    </div>
    
    {{template "common/footbar.html"}}
</body>
</html>

{{end}}